<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dropshipping" translate="label" sortOrder="500">
            <label>Dropshipping</label>
        </tab>
        <section id="dropshipping" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CJ Dropshipping Settings</label>
            <tab>dropshipping</tab>
            <resource>Gab_Dropshipping::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                    <comment>Default: https://developers.cjdropshipping.com/api</comment>
                </field>
                <field id="test_connection" translate="label comment" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test API Connection</label>
                    <frontend_model>Gab\Dropshipping\Block\Adminhtml\System\Config\TestButton</frontend_model>
                    <comment>Click to test the connection with CJ Dropshipping API</comment>
                </field>
            </group>
            <group id="import" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Import Settings</label>
                <field id="markup_percentage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Markup (%)</label>
                    <comment>Add percentage markup to product prices (e.g. 30 for 30%)</comment>
                </field>
                <field id="default_stock" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Stock Quantity</label>
                    <comment>Default stock quantity for imported products</comment>
                </field>
                <field id="auto_import_cron" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Automatic Import</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_frequency" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import Frequency</label>
                    <source_model>Gab\Dropshipping\Model\Config\Source\Cron</source_model>
                    <depends>
                        <field id="auto_import_cron">1</field>
                    </depends>
                </field>
            </group>
            <group id="orders" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Processing Settings</label>
                <field id="auto_submit" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto-submit Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_status" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status for Processing</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment>Select order statuses that will trigger dropshipping order submission</comment>
                </field>
            </group>
        </section>
    </system>
</config>
