.admin__menu .item-dropshipping > a:before {
    content: '\e602';
    font-size: 1.8rem;
    padding-top: 0.2rem;
}

.admin__menu .item-dropshipping-dropshipping-dashboard > a:before {
    content: '\e604';
    font-size: 1.8rem;
    padding-top: 0.4rem;
}

.admin__menu .item-dropshipping-dropshipping-import > a:before {
    content: '\e636';
    font-size: 1.8rem;
    padding-top: 0.4rem;
}

.admin__menu .item-dropshipping-dropshipping-orders > a:before {
    content: '\e619';
    font-size: 1.8rem;
    padding-top: 0.4rem;
}

.admin__menu .item-dropshipping-dropshipping-config > a:before {
    content: '\e610';
    font-size: 1.8rem;
    padding-top: 0.4rem;
}
